<!-- <div *ngFor="let p of products">
  <p>here is: {{ p.name }}</p>
</div> -->
<div class="filter">
  <app-filter
    [all]="AllProducts"
    [availa]="Available"
    [notAvaila]="NotAvailable"
  ></app-filter>
</div>

<div *ngFor="let p of products; let i = index">
  <div
    class="product-container"
    [ngStyle]="{
      backgroundColor: p.available === 'Available' ? '#d5f5e3' : '#fadbd8'
    }"
  >
    <div class="image-container">
      <img [src]="p.image" alt="" style="max-height: 50px; max-width: 50px" />
    </div>
    <div>
      <div class="name-container">
        <h6>{{ p.name }}</h6>
      </div>
      <div class="detailcontainer">
        <div class="details" [ngStyle]="{ color: theColor(p.available) }">
          {{ p.available }}
        </div>
        <div class="details"><b>Price: </b>${{ p.price }}</div>
        <div class="details"><b>Color: </b>{{ p.color }}</div>
      </div>
    </div>
    <div class="options">
      <button class="btn btn-success">Show Details</button>
      <button
        class="btn btn-warning"
        *ngIf="p.available === 'Available'; else noAvailable"
      >
        Buy Now
      </button>
      <ng-template #noAvailable>
        <button class="btn btn-danger">Notify Me</button>
      </ng-template>
    </div>
  </div>
</div>

<!-- [disabled]="p.available === 'Not Available'" -->
